<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div id="app">
  <v-app id="inspire">
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app
    >
     <v-list dense>
        <v-list-tile v-for="route in this.$router.options.routes" :key="route.name" :to="route.path">
            <v-list-tile-action>
                <v-icon>{{ route.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ route.name }}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
		<router-view></router-view>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
  </v-app>
</div>


<template id="howtoopen-template">
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step step="1" :complete="e1 > 1">General steps</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="e1 > 2">Sole Proprietorships steps</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3" :complete="e1 > 3">Partnerships steps</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="4">Corporation steps</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
          	<ol class="main-step">
                <li><p>Determine your type of business - Different businesses have different requirements</p></li>
                <li><p>Select your Business Structure - Sole Proprietorship / Partnership / Corporation</p></li>
                <li><p>Create a Business Name</p></li>
                <li><p>Determine Availability of your Business Name - Primarily perform a search through public information sources; you will also need a Nuans report for most provincial and territorial governments.</p>
                    <p class="formore">For more information on a Nuans report please visit:
                        <a href="https://www.nuans.com/auth/app/scr/corp/nuans/public/PreSearch.html?lang=eng">Order a Nuans report - Nuans</a></p></li>
                <li><p>Register your Business Name</p>
                    <p class="formore">For more information on Business Name Registration please visit:
                        <a href="https://www.canada.ca/en/services/business/start/choosing-a-business-name-3.html">Register your name</a></p>
                    <p class="formore required">Every business that has employees needs to register to the Workers Insurance Safety Board (WISB)</p>
                    <p class="forfurther">For further information about WISB and its benefits please visit:
                        <a href="http://www.wsib.on.ca">The Workplace Safety and Insurance Board</a></p>
                    <p class="formore requiredmore">Any business that generates more than $30,000.00 in annual taxable sales has to register for HST 
                        For further information about HST please visit:
                                <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses/register-a-gst-hst-account.html">Register for a GST/HST account</a> </p></li>
                </ol>
            </v-card>
          <v-btn color="primary" @click.native="e1 = 2">Continue</v-btn>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
          	<ol class="main-step">
                <li><p>Register for permits, licenses and taxes</p>
                    <p class="formore">For more information about different Permits and Licenses please visit:
                        <a href="https://services.bizpal-perle.ca/?b=01">Business Permit and Licence Information</a>
                    </p>    
                </li> 
                <li><p>Open a Bank Account</p>
                    <ol class="abclatin">
                        <li><p>If operating as an individual: bill your customers or clients in your own name.</p></li>
                        <li><p>If operating under a registered business name: bill your clients and customers in the business's name.</p></li>
                        <li><p>If your business has a name other than your own: Open a separate bank account to process cheques payable to your business.</p></li>
                    </ol>
                </li>
                <li><p>Begin Operations!</p>
                    <p class="formore required">For further information about Partnership agreement please visit:
                        <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/small-businesses-self-employed-income/setting-your-business/   sole-proprietorship.html">SOLE PROPRIETORSHIP</a>
                    </p>  
                </li>
            </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 3">Continue</v-btn>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
          	<ol class="main-step">
                            <li><p>Register for permits, licences, and taxes</p>
                                <p class="formore">For more information about different Permits and Licenses please visit:
                                    <a href="https://services.bizpal-perle.ca/?b=01">Business Permit and Licence Information</a>
                                </p>
                            </li>
                            <li><p>Complete a partnership agreement - Some basic needs in a partnership agreement:</p>
                                <ol class="abclatin">
                                    <li><p><b>EFFECTIVE DATE</b> of the agreement</p></li>
                                    <li><p>Each partners <b>FINANCIAL CONTRIBUTION</b> must be clear and written down</p></li>
                                    <li><p>Divide and specify each of the <b>PARTNERS ROLE</b> in the company</p></li>
                                    <li><p>How will partners <b>DRAW INCOME</b> from profits as parts of a salary, and how often</p></li>
                                    <li><p>Define what <b>PROPERTY</b> belongs to the partnership</p></li>
                                    <li><p>How will this property be <b>USED</b> by the individual partners</p></li>
                                    <li><p>How will the <b>BANK ACCOUNTS</b> be set up, and how will <b>TAX MATTER</b>S be controlled</p></li>
                                    <li><p>Define how <b>DISPUTES</b> will be resolved</p></li>
                                    <li><p>Plan ahead in case a partner <b>DECEASES</b> or becomes <b>DISABLED</b>, and how will this affect the partnership</p></li>
                                    <li><p>Establishing an <b>EXIT STRATEGY</b> in case a partner wants to leave the partnership</p></li>
                                    <li><p>Stipulating a <b>SELLING</b> strategy in case the business is decided to be sold</p></li>
                                </ol>
                            </li>
                            <li><p>Open a Bank Account - Typically a Bank in Canada will require the following documents to open an account for a Partnership or Limited Partnership:</p>
                                <ol class="abclatin">
                                    <li><p>Business Owners Documents: Government issued photo identification of all partners</p></li>
                                    <li><p>General Partnership:</p>
                                        <ol class="roman">
                                            <li><p>Registered declaration of partnership (if it applies)</p></li>
                                            <li><p>Copy of partnership agreement (if it applies)</p></li>
                                            <li><p>Trade name registration or master business license (if it applies)</p></li>
                                        </ol>
                                    </li>
                                    <li><p>Limited Liability Partnership:</p>
                                       <ol class="roman">
                                            <li><p>Registered declaration of partnership</p></li>
                                            <li><p>Trade name registration or master business licence (if it applies)</p></li>
                                        </ol>
                                    </li>
                                    <li><p>Limited Partnership:</p>
                                        <ol class="roman">
                                            <li><p>Registered declaration of partnership</p></li>
                                            <li><p>Trade name registration or master business licence (if it applies)</p></li>
                                        </ol>
                                    </li>
                                </ol >
                            </li>
                            <li><p>Begin Operations!</p>
                                <p class="formore">***For further information about Partnership agreement please visit:
                                    <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/small-businesses-self-employed-income/setting-your-business/partnership.html">Partnership</a></p>
                            </li>
                        </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 4">Continue</v-btn>
        </v-stepper-content>
        <v-stepper-content step="4">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
          	<ol class="main-step">
                            <li><p>Select Corporate Jurisdiction - Federal or Provincial</p> 
                                <p>The main difference between the federal and provincial incorporation is that federal incorporation gives your business amplified business name protection and wider rights. Federal incorporation of your business means that you will be enabled to conduct business across all Canada under one business name, even if some other company is already using the same name in some province or territory. Federal incorporations also may cost more.</p>
                            </li>
                            <li><p>Complete articles of Incorporation - Incorporation is a form of business ownership that creates a distinct legal entity separate from its owners (shareholders).</p>
                                <p class="formore">For more information on the steps to complete articles of incorporation please visit:
                                    <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs04977.html">link</a>
                                </p>
                            </li>
                            <li><p>Submit & Register Articles of Incorporation - Canadian legislation requires you to register your corporation in each province and territory in which it will conduct business.</p>
                                <p class="formore">For further information on provincial and territorial registrar websites, please visit:
                                    <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs04578.html">link</a>
                                </p>
                            </li>
                            <li><p>Purchase Corporate Seal & Minute Book</p></li>
                            <li><p>Complete Corporate By-Laws, Organizational Minutes & Issue Shares - Seek Legal Advisory</p></li>
                            <li><p>Obtain other permits & licenses</p>
                                <p>Permits and licences vary in each province and municipality; depending on the industry sector of your business, municipal government will require different regulations and/or obligations to be complied with. 
                                Search to find out which ones may apply to your business:
                                <a href="https://canadabusiness.ca/government/permits-and-licences/">Permits and licences</a></p>
                            </li>
                            <li><p>Open Bank Accounts</p>
                                <p>The required documents may vary depending on the type of company. To open a Corporate Bank Account, commonly the following might be some of the required documents, depending on the bank, some may petition for other types of documentation:</p>
                                    <ul class="abclatin">
                                        <li><p>Two pieces of identification of those who will be the corporation's signing authorities</p></li>
                                        <li><p>Articles of Incorporation/ Association</p></li>
                                        <li><p>Certificate of Status</p></li>
                                        <li><p>Corporate Profile Report</p></li>
                                        <li><p>Certificate of Existence</p></li>
                                        <li><p>Certificate of Compliance</p></li>
                                        <li><p>Corporate Annual Government Filing</p></li>
                                        <li><p>Notice of Assessment for Income Tax</p></li>
                                        <li><p>Business Number</p></li>
                                        <li><p>Business License</p></li>
                                    </ul>
                            </li>
                            <li><p>Begin Operations</p>
                                <p class="formore">**For further information about Corporations please visit:
                                   <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/h_cs02193.html">link</a></p>
                                   <p class="formore">*** For further information about Incorporation please visit:
                                       <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs06642.html">link</a></p>
                            </li>
                        </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 1">Continue</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
</template>

<template id="futurpreneur-template">
	<v-container fluid fill-height>
	        <v-layout
	          justify-center
	          align-center
	        >
	          <v-flex text-xs-center>
	          	<v-card>
			      <v-card-title>
			        You can use search
			        <v-spacer></v-spacer>
			        <v-text-field
			          append-icon="search"
			          label="Search"
			          single-line
			          hide-details
			          v-model="search"
	        		></v-text-field>
	      			</v-card-title>
				    <v-data-table
				      :headers="headers"
				      :items="items"
				      :search="search"
				      class="elevation-1"
				    >
					     <template slot="items" slot-scope="props">
				          <td class="text-xs-right">{{ props.item.Province }}</td>
				          <td class="text-xs-right">{{ props.item.Partners }}</td>
				          <td class="text-xs-right">{{ props.item.WebsiteSupport }}</td>
				          <td class="text-xs-right">{{ props.item.ZipCodes }}</td>
				          <td class="text-xs-right">{{ props.item.C1 }}</td>
				          <td class="text-xs-right">{{ props.item.C2 }}</td>
				          <td class="text-xs-right">{{ props.item.C3 }}</td>
				          <td class="text-xs-right">{{ props.item.C4 }}</td>
				          <td class="text-xs-right">{{ props.item.C5 }}</td>
				          <td class="text-xs-right">{{ props.item.C6 }}</td>
					      </template>
					      <v-alert slot="no-results" :value="true" color="error" icon="warning">
					          Your search for "{{ search }}" found no results.
					       </v-alert>
					    </v-data-table>
	          </v-flex>
	        </v-layout>
	      </v-container>
</template>

<template id="government-template">
	<v-container fluid fill-height>
	        <v-layout
	          justify-center
	          align-center
	        >
	          <v-flex text-xs-center>
	          	<v-card>
			      <v-card-title>
			        You can use search
			        <v-spacer></v-spacer>
			        <v-text-field
			          append-icon="search"
			          label="Search"
			          single-line
			          hide-details
			          v-model="search"
	        		></v-text-field>
	      			</v-card-title>
				    <v-data-table
				      :headers="headers"
				      :items="items"
				      :search="search"
				      class="elevation-1"
				    >
					     <template slot="items" slot-scope="props">
				          <td class="text-xs-right">{{ props.item.Organization }}</td>
				          <td class="text-xs-right">{{ props.item.Province }}</td>
				          <td class="text-xs-right">{{ props.item.Relevance }}</td>
				          <td class="text-xs-right">{{ props.item.WebsiteSupport }}</td>
				          <td class="text-xs-right">{{ props.item.Services }}</td>
					      </template>
					      <v-alert slot="no-results" :value="true" color="error" icon="warning">
					          Your search for "{{ search }}" found no results.
					       </v-alert>
					    </v-data-table>
	          </v-flex>
	        </v-layout>
	      </v-container>
</template>

<template id="collaborators-template">
	<v-container fluid fill-height>
	        <v-layout
	          justify-center
	          align-center
	        >
	          <v-flex text-xs-center>
	          	<v-card>
			      <v-card-title>
			        You can use search
			        <v-spacer></v-spacer>
			        <v-text-field
			          append-icon="search"
			          label="Search"
			          single-line
			          hide-details
			          v-model="search"
	        		></v-text-field>
	      			</v-card-title>
				    <v-data-table
				      :headers="headers"
				      :items="items"
				      :search="search"
				      class="elevation-1"
				    >
					     <template slot="items" slot-scope="props">
				          <td class="text-xs-right">{{ props.item.Organization }}</td>
				          <td class="text-xs-right">{{ props.item.Province }}</td>
				          <td class="text-xs-right">{{ props.item.Relevance }}</td>
				          <td class="text-xs-right">{{ props.item.Branch }}</td>
				          <td class="text-xs-right">{{ props.item.WebsiteSupport }}</td>
				          <td class="text-xs-right">{{ props.item.ListofServicesProvided }}</td>
					      </template>
					      <v-alert slot="no-results" :value="true" color="error" icon="warning">
					          Your search for "{{ search }}" found no results.
					       </v-alert>
					    </v-data-table>
	          </v-flex>
	        </v-layout>
	      </v-container>
</template>


  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/table.js"></script>
 <style type="text/css">
.formore
{
    text-indent: 5rem;
    font-family: proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 12px;
    font-weight:400;
    letter-spacing: 1px;
    color: #231f20;
    text-transform: ;
    line-height: 1em;
}
.forfurther
{

    text-indent: 5rem;
    font-family:proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 10px;
    font-weight:600;
    letter-spacing: 0.5px;
    color: #231f20;
    text-transform: uppercase;
    line-height: 1.5em;
}
.main-step
{
    padding-left: 100px;
    padding-top: 10px;
    color: #666;
    /*font: normal 1.1em Arial, Helvetica, sans-serif;*/
}
li
{
    font-size: 0.5em;
}
li p {
    font: normal Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000;
    /*border-left: solid 1px #999;*/
    margin: 0;
    padding: 0 0 1em 1em;
}
.formore.required:before{
  content:"**";
  color:red;
  font-weight:bold;
}
.formore.requiredmore:before{
  content:"***";
  color:red;
  font-weight:bold;
}
ol {
  /*font: italic 1em Georgia, Times, serif;*/
  font-size: 1em;
  color: #999999;
}
ol .abclatin{
    list-style-type:lower-latin;
    font-size: 1em;
    line-height: 0.5em;
    padding-left: 5em;
}
ol .roman{
    list-style-type:lower-roman;
    font-size: 1em;
    line-height: 0.5em;
    padding-left: 10em;
}
</style>
</body>
</html>