<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://surveyjs.azureedge.net/1.0.14/survey.css" type="text/css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer fixed v-model="drawer" app width=350>
        <v-list dense>
          <v-list-tile v-for="route in this.$router.options.routes" :key="route.name" :to="route.path">
            <v-list-tile-action>
              <v-icon>{{ route.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ route.name }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click.stop="dialog = true">
          <v-icon>account_circle</v-icon>
        </v-btn>
      </v-toolbar>
      <v-content>
        <router-view></router-view>
      </v-content>
      <v-footer color="indigo" app>
        <span class="white--text">&copy; culture of small,2018</span>
      </v-footer>
    </v-app>
  </div>
  <template id="howtoopen-template">
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step step="1" :complete="e1 > 1">General steps</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="e1 > 2">Select Your Business Structure</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3">Selected business structure steps</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
            <ol class="main-step">
              <li>
                <p>Determine your type of business - Different businesses have different requirements</p>
              </li>
              <li>
                <p>Select your Business Structure - Sole Proprietorship / Partnership / Corporation</p>
              </li>
              <li>
                <p>Create a Business Name</p>
              </li>
              <li>
                <p>Determine Availability of your Business Name - Primarily perform a search through public information sources;
                  you will also need a Nuans report for most provincial and territorial governments.</p>
                <p class="formore">For more information on a Nuans report please visit:
                  <a href="https://www.nuans.com/auth/app/scr/corp/nuans/public/PreSearch.html?lang=eng" target="_blank">Order a Nuans report - Nuans</a>
                </p>
              </li>
              <li>
                <p>Register your Business Name</p>
                <p class="formore">For more information on Business Name Registration please visit:
                  <a href="https://www.canada.ca/en/services/business/start/choosing-a-business-name-3.html" target="_blank">Register your name</a>
                </p>
                <p class="formore required">Every business that has employees needs to register to the Workers Insurance Safety Board (WISB)</p>
                <p class="forfurther">For further information about WISB and its benefits please visit:
                  <a href="http://www.wsib.on.ca" target="_blank">The Workplace Safety and Insurance Board</a>
                </p>
                <p class="formore requiredmore">Any business that generates more than $30,000.00 in annual taxable sales has to register for HST</p>
                <p class="forfurther">For further information about HST please visit:
                  <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses/register-a-gst-hst-account.html"
                    target="_blank">Register for a GST/HST account</a>
                </p>
              </li>
            </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 2">Continue</v-btn>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-card color="grey lighten-4" class="mb-5 pl-5 pt-2" height="400px">
            <p>Choose the correct Business Structure:</p>
            <ol class="abclatin">
              <li>
                <p>Sole Proprietorship - If you are planning to run the business on your own and without involving other individuals
                  as partners.</p>
              </li>
              <li>
                <p>Partnership - A partnership occurs when two or more persons are carrying on business.</p>
              </li>
              <li>
                <p>Corporation - A corporation is unique in that it is a distinct legal entity separate from that of the people
                  who own its shares.</p>
              </li>
            </ol>
            <v-radio-group v-model="businessType" column>
              <v-radio label="A sole proprietorship" color="red" value="sole"></v-radio>
              <v-radio label="A partnership" color="red darken-3" value="partnership"></v-radio>
              <v-radio label="A corporation" color="indigo" value="corporation"></v-radio>
            </v-radio-group>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 3">Continue</v-btn>
          <v-btn flat @click.native="e1 = 1">Prev</v-btn>
        </v-stepper-content>
        <v-stepper-content step="3" v-if="businessType == 'sole'">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
            <ol class="main-step">
              <li>
                <p>Register for permits, licenses and taxes</p>
                <p class="formore">For more information about different Permits and Licenses please visit:
                  <a href="https://services.bizpal-perle.ca/?b=01" target="_blank">Business Permit and Licence Information</a>
                </p>
              </li>
              <li>
                <p>Open a Bank Account</p>
                <ol class="abclatin">
                  <li>
                    <p>If operating as an individual: bill your customers or clients in your own name.</p>
                  </li>
                  <li>
                    <p>If operating under a registered business name: bill your clients and customers in the business's name.</p>
                  </li>
                  <li>
                    <p>If your business has a name other than your own: Open a separate bank account to process cheques payable
                      to your business.</p>
                  </li>
                </ol>
              </li>
              <li>
                <p>Begin Operations!</p>
                <p class="formore required">For further information about Partnership agreement please visit:
                  <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/small-businesses-self-employed-income/setting-your-business/sole-proprietorship.html"
                    target="_blank">SOLE PROPRIETORSHIP</a>
                </p>
              </li>
            </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 1">Continue</v-btn>
          <v-btn flat @click.native="e1 = 2">Prev</v-btn>
        </v-stepper-content>
        <v-stepper-content step="3" v-if="businessType == 'partnership'">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
            <ol class="main-step">
              <li>
                <p>Register for permits, licences, and taxes</p>
                <p class="formore">For more information about different Permits and Licenses please visit:
                  <a href="https://services.bizpal-perle.ca/?b=01" target="_blank">Business Permit and Licence Information</a>
                </p>
              </li>
              <li>
                <p>Complete a partnership agreement - Some basic needs in a partnership agreement:</p>
              </li>
              <li>
                <p>Open a Bank Account - Typically a Bank in Canada will require the following documents to open an account
                  for a Partnership or Limited Partnership:</p>
                <ol class="abclatin">
                  <li>
                    <p>Business Owners Documents: Government issued photo identification of all partners</p>
                  </li>
                  <li>
                    <p>General Partnership:</p>
                    <ol class="roman">
                      <li>
                        <p>Registered declaration of partnership (if it applies)</p>
                      </li>
                      <li>
                        <p>Copy of partnership agreement (if it applies)</p>
                      </li>
                      <li>
                        <p>Trade name registration or master business license (if it applies)</p>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <p>Limited Liability Partnership:</p>
                    <ol class="roman">
                      <li>
                        <p>Registered declaration of partnership</p>
                      </li>
                      <li>
                        <p>Trade name registration or master business licence (if it applies)</p>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <p>Limited Partnership:</p>
                    <ol class="roman">
                      <li>
                        <p>Registered declaration of partnership</p>
                      </li>
                      <li>
                        <p>Trade name registration or master business licence (if it applies)</p>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <p>Begin Operations!</p>
                <p class="formore">For further information about Partnership agreement please visit:
                  <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/small-businesses-self-employed-income/setting-your-business/partnership.html"
                    target="_blank">Partnership</a>
                </p>
              </li>
            </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 1">Continue</v-btn>
          <v-btn flat @click.native="e1 = 2">Prev</v-btn>
        </v-stepper-content>
        <v-stepper-content step="3" v-if="businessType == 'corporation'">
          <v-card color="grey lighten-4" class="mb-5" height="400px">
            <ol class="main-step">
              <li>
                <p>Select Corporate Jurisdiction - Federal or Provincial</p>
              </li>
              <li>
                <p>Complete articles of Incorporation - Incorporation is a form of business ownership that creates a distinct
                  legal entity separate from its owners (shareholders).</p>
                <p class="formore">For more information on the steps to complete articles of incorporation please visit:
                  <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs04977.html" target="_blank">Instructions Form 4001 - Articles of Incorporation</a>
                </p>
              </li>
              <li>
                <p>Submit & Register Articles of Incorporation - Canadian legislation requires you to register your corporation
                  in each province and territory in which it will conduct business.</p>
                <p class="formore">For further information on provincial and territorial registrar websites, please visit:
                  <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs04578.html" target="_blank">Provincial and territorial registrar websites</a>
                </p>
              </li>
              <li>
                <p>Purchase Corporate Seal & Minute Book</p>
              </li>
              <li>
                <p>Complete Corporate By-Laws, Organizational Minutes & Issue Shares - Seek Legal Advisory</p>
              </li>
              <li>
                <p>Obtain other permits & licenses</p>
              </li>
              <li>
                <p>Open Bank Accounts</p>
              </li>
              <li>
                <p>Begin Operations</p>
                <p class="formore">For further information about Corporations please visit:
                  <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/h_cs02193.html" target="_blank">Frequently asked questions</a>
                </p>
                <p class="formore required">For further information about Incorporation please visit:
                  <a href="https://www.ic.gc.ca/eic/site/cd-dgc.nsf/eng/cs06642.html" target="_blank"> Steps to incorporating</a>
                </p>
              </li>
            </ol>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 1">Continue</v-btn>
          <v-btn flat @click.native="e1 = 2">Prev</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </template>

  <template id="futurpreneur-template">
    <v-container fluid fill-height>
      <v-layout justify-center align-center>
        <v-flex text-xs-left>
          <v-tooltip bottom slot="activator">
            <v-btn fab dark color="teal" @click.stop="dialog = true" slot="activator">
              <v-icon dark>location_on</v-icon>
            </v-btn>
            <span>Show location of additional support on a map</span>
          </v-tooltip>
          <v-card>
            <v-card-title>
              You can use search
              <v-spacer></v-spacer>
              <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="items" :search="search" class="elevation-1" :loading="loading">
              <template slot="headerCell" slot-scope="props">
                <span class="txt-header">{{ props.header.text }} </span>
                <!--<v-menu bottom offset-y @click.native.stop>
                  <a slot="activator">
                    <i class="material-icons">menu</i>
                  </a>
                  <v-list>
                    <v-list-tile @click.stop="" style="width:200px;">
                      <v-form>
                        <v-select :items="provinces" label="Select" autocomplete clearable single-line bottom></v-select>
                      </v-form>
                    </v-list-tile>
                  </v-list>
                </v-menu>-->
              </template>
              <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.Province }}</td>
                <td class="text-xs-center">{{ props.item.Partners }}</td>
                <td class="text-xs-center">
                  <a v-bind:href="props.item.WebsiteSupport" target="_blank">{{ props.item.WebsiteSupport }}</a>
                </td>
                <td class="text-xs-center">{{ props.item.ZipCodes }}</td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
        </v-flex>
        <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition" :overlay="false" scrollable>
          <v-card tile>
            <v-toolbar card dark color="primary">
              <v-btn icon @click.native="dialog = false" dark>
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>Additional Support location map</v-toolbar-title>
            </v-toolbar>
            <futurpreneur-map/>

            <div style="flex: 1 1 auto;" />
          </v-card>
        </v-dialog>
      </v-layout>
    </v-container>
  </template>

  <template id="government-template">
    <v-container grid-list-md text-xs-left>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-card-title>
              You can use search
              <v-spacer></v-spacer>
              <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="items" :search="search" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td class="text-xs-center">{{ props.item.Organization }}</td>
                <td class="text-xs-center">{{ props.item.Province }}</td>
                <td class="text-xs-center">{{ props.item.Relevance }}</td>
                <td class="text-xs-left">
                  <a v-bind:href="props.item.WebsiteSupport" target="_blank">{{ props.item.WebsiteSupport }}</a>
                </td>
                <td class="text-xs-right">{{ props.item.Services }}</td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </template>

  <template id="collaborators-template">
    <v-container fluid fill-height>
      <v-layout justify-center align-center>
        <v-flex text-xs-center>
          <v-card>
            <v-card-title>
              You can use search
              <v-spacer></v-spacer>
              <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="items" :search="search" class="elevation-1">
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.Organization }}</td>
                <td class="text-xs-center">{{ props.item.Province }}</td>
                <td class="text-xs-center">{{ props.item.Relevance }}</td>
                <td class="text-xs-center">{{ props.item.Branch }}</td>
                <td class="text-xs-left">
                  <a v-bind:href="props.item.WebsiteSupport" target="_blank">{{ props.item.WebsiteSupport }}</a>
                </td>
                <td class="text-xs-center">{{ props.item.ListofServicesProvided }}</td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </template>
  <template id="home-template">
    <v-container fluid fill-height>
      <v-layout row wrap justify-center align-center>
        <v-flex text-xs-center>
          <img src="http://static1.squarespace.com/static/5a8c8cddf43b55ee49c36700/t/5aa693e0e4966bde367b21f5/1522270853816/?format=1500w"
            alt="small" style="max-width: 200px;">
          <br/>
          <h2 class="display-2">Your journey begins here!!!</h2>
        </v-flex>
      </v-layout>
    </v-container>
  </template>

  <template id="financials">
    <v-container fluid fill-height>
      <v-layout row wrap justify-center align-center>
        <v-flex xs12>
          <div class="table">
            <h2 class="heading">
              FUTURPRENEUR
            </h2>
            <div class="block">
              <p>General Expectation</p>
              <ul class="options">
                <li>Futurpreneu can finance up to $15,000 per business</li>
                <li>If you need more money, BDC may provide up to $30,000</li>
              </ul>
              </p>
            </div>
            <div class="block">
              <p>Specific Programs</p>
              <ul class="options">
                <li>New to Canada and have a credit history<span class="price">$45000</span>
                    <p>Eligibility</p>
                    <ul class="pl-5 pt-2 mb-2">
                        <li>Have lived in Canada for fewer than 60 months from the application processing date</li>								
                        <li>A Canadian citizen or a permanent resident of Canada</li>	         
                        <li>Have a Social Insurance Number (SIN) that does not begin with a “9”</li>					                
                        <li>Providing two character-based references (at least one must be a Canadian citizen)</li>								             
                        <li>Established credit history in Canada</li>							
                    </ul>
                </li>
                <li>New to Canada and don't have a credit history<span class="price" >$15000</span>
                    <p>Eligibility</p>
                    <ul class="pl-5 pt-2">
                        <li>Have lived in Canada for fewer than 60 months from the application processing date</li>								
                        <li>A Canadian citizen or a permanent resident of Canada</li>	         
                        <li>Have a Social Insurance Number (SIN) that does not begin with a “9”</li>					                
                        <li>Providing two character-based references (at least one must be a Canadian citizen)</li>								             
                        <li>Limited or no established credit history in Canada</li>							
                    </ul>
                </li>
              </ul>
              </p>
            </div>
            <div class="block">
              <p>For further information 
                <ul class="options">
                  <li>visit <a href="https://www.futurpreneur.ca/en/get-started/financing-and-mentoring/newcomer/" target="_blank">Newcomer - Futurpreneur Canada</a></li>
                </ul>
              </p>
            </div>
          </div>
        </v-flex>
        <v-flex xs12>
            <div class="table">
                <h2 class="heading">
                  Centre d'Aide aux Entreprises Haute-Yamaska et région.
                </h2>
                <div class="block">
                  <p>General Expectation</p>
                  <ul class="options">
                    <li>If you are a woman, an immigrant or a young entrepreneur of the Haute-Yamaska region, you could get a loan of up to $50,000 for your business project.</li>
                  </ul>
                  </p>
                </div>
                <div class="block">
                  <p>Specific Programs</p>
                  <ul class="options">
                    <li>FIJE Fund<span class="price">UP TO $ 50,000.00</span>
                        <p>Eligibility</p>
                        <ul class="pl-5 pt-2 mb-2">
                            <li>Women, Immigrants, Permanent residents, Qualified workers, Canadian citizens since less than 5 year</li>
                            <li>Present a business plan demonstrating the viability of the project</li>								
                            <li>Have a good credit rating</li>	         
                            <li>Create at least one full-time job</li>					                
                            <li>Provide a down payment of 10% of the cost of the project</li>								             
                            <li>Be in the Haute-Yamaska region of Quebec</li>	
                        </ul>
                    </li>
                  </ul>
                  </p>
                </div>
                <div class="block">
                  <p>For further information 
                    <ul class="options">
                      <li>visit <a href="http://english.caehyr.com/financing-business-cae-haute-yamaska/fije-fund/" target="_blank">http://english.caehyr.com/financing-business-cae-haute-yamaska/fije-fund/</a></li>
                    </ul>
                  </p>
              </div>
              </div>
        </v-flex>
        <v-flex xs12>
            <div class="table">
                <h2 class="heading">
                    FONDS MOSAÏQUE
                </h2>
                <div class="block">
                  <p>General Expectation</p>
                  <ul class="options">
                    <li>This Financing applies only to Quebec Province</li>
                  </ul>
                  </p>
                </div>
                <div class="block">
                  <p>Specific Programs</p>
                  <ul class="options">
                    <li><span class="price">UP TO $ 25,000.00</span>
                        <p>Eligibility</p>
                        <ul class="pl-5 pt-2 mb-2">
                            <li>Be 18 years of age or older and a member of a cultural community</li>								
                            <li>Provide a business plan for your for-profit project</li>	         
                            <li>Submit your financial forecasts or statements</li>					                
                            <li>Demonstrate training or experience relevant to the project</li>								             
                            <li>Others conditions may apply</li>							
                        </ul>
                    </li>							
                  </ul>
                  </p>
                </div>
                <div class="block">
                  <p>For further information 
                    <ul class="options">
                      <li>visit <a href="http://fondsmosaique.com/content/le-fonds-mosa%C3%Afque" target="_blank">http://fondsmosaique.com/content/le-fonds-mosa%C3%Afque</a></li>
                    </ul>
                  </p>
                </div>
              </div>
        </v-flex>
        <v-flex xs12>
            <div class="table">
                <h2 class="heading">
                        MINISTRY OF THE STATUS OF WOMEN 								
                </h2>
                <div class="block">
                  <p>General Expectation</p>
                  <ul class="options">
                    <li>Business start-up loans can range from $5,000 up to $15,000. Local providers may focus on women entrepreneurs</li>
                  </ul>
                  </p>
                </div>
                <div class="block">
                  <p>Specific Programs</p>
                  <ul class="options">
                    <li><span class="price">UP TO $ 15,000.00</span>
                        <p>Eligibility</p>
                        <ul class="pl-5 pt-2 mb-2">
                            <li>Members of a visible minority</li>								
                            <li>Aboriginal</li>	         
                            <li>Francophone</li>					                
                            <li>Seniors</li>								             
                            <li>Youths</li>	
                            <li>Newcomers</li>
                            <li>People with disabilities</li>
                            <li>Others conditions may apply</li>						
                        </ul>
                    </li>						
                  </ul>
                  </p>
                </div>
                <div class="block">
                  <p>For further information 
                    <ul class="options">
                      <li>visit <a href="http://www.women.gov.on.ca/owd/english/economic/entrepreneurs.shtml" target="_blank">http://www.women.gov.on.ca/owd/english/economic/entrepreneurs.shtml</a></li>
                    </ul>
                  </p>
                </div>
              </div>
          </v-flex>
          <v-flex xs12>
              <div class="table">
                  <h2 class="heading">
                          Nova Scotia  Co-operative Council
                  </h2>
                  <div class="block">
                    <p>General Expectation</p>
                    <ul class="options">
                      <li>Futurpreneu can finance up to $15,000 per business</li>
                      <li>If you need more money, BDC may provide up to $30,000</li>
                    </ul>
                    </p>
                  </div>
                  <div class="block">
                    <p>Specific Programs</p>
                    <ul class="options">
                      <li><span class="price">UP TO $ 500,000.00</span>
                          <p>Conditions include:</p>
                          <ul class="pl-5 pt-2 mb-2">
                              <li>Up to 75% guarantee on regular lines of credit, or 90% for immigrant entrepreneurs, social enterprise, forestry and high-risk sectors</li>								
                              <li>Up to 90% guarantee on term loans</li>	         
                              <li>A repayment term of up to 10 years</li>					                
                              <li>Annual fee charged of 1% of the loan value</li>								             						
                          </ul>
                      </li>
                      <li>
                          <p>Eligibility</p>
                          <ul class="pl-5 pt-2">
                              <li> Based on your business plan, viability, and character</li>														
                          </ul>
                      </li>
                    </ul>
                    </p>
                  </div>
                  <div class="block">
                    <p>For further information 
                      <ul class="options">
                        <li>visit <a href="http://www.novascotia.coop/" target="_blank">http://www.novascotia.coop/</a></li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            </v-flex>
      </v-layout>
    </v-container>
  </template>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://surveyjs.azureedge.net/1.0.14/survey.vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM2AtsJrwb3Q9pxirJjv2OVl-V-6Lv1hY"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="js/dashboard.js"></script>
  <script src="js/login.js"></script>
  <script src="js/map_simple.js"></script>
  <script src="js/survey.js"></script>
  <script src="js/table.js"></script>
  <script src="js/main.js"></script>

  <style type="text/css">
    #myMap {
      width: 800px;
      height: 600px;
      margin: 0 auto;
      background: gray;
    }

    table {
      table-layout: fixed;
      word-wrap: break-word;
    }

    .main-step {
      padding-left: 100px;
      padding-top: 10px;
    }

    li {
      font-size: 0.5em;
    }

    li p {
      margin: 0;
      padding: 0 0 0.5em 0em;
    }

    ol {
      font-size: 2em;
    }

    ol .abclatin {
      list-style-type: lower-latin;
      font-size: 1.8em;
      line-height: 0.7em;
      padding-left: 2em;
    }

    ol .roman {
      list-style-type: lower-roman;
      font-size: 1.9em;
      line-height: 0.5em;
      padding-left: 2em;
    }

    .formore {
      text-indent: 5rem;
      font-style: normal;
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 1px;
      color: #231f20;
      line-height: 1em;
    }

    .formore:before {
      content: "*";
      color: red;
      font-weight: bold;
    }

    .forfurther {
      text-indent: 7rem;
      font-style: normal;
      font-size: 0.8em;
      letter-spacing: 0.5px;
      color: #231f20;
      line-height: 1em;
    }

    .formore.required:before {
      content: "**";
      color: red;
      font-weight: bold;
    }

    .formore.requiredmore:before {
      content: "***";
      color: red;
      font-weight: bold;
    }

    @import url("https://fonts.googleapis.com/css?family=Poppins");
    * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .big-heading {
      color: #fff;
      text-align: center;
      font-size: 26pt;
      padding: 20px;
      text-transform: capitalize;
    }

    .table {
      background: #fff;
      width: 80%;
      height: auto;
      display: block;
      float: left;
      position: relative;
      left: 6%;
      margin: 20px;
      border-radius: 8px;
      overflow: hidden;
      -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition: .3s;
      transition: .3s;
    }

    .table:hover {
      -webkit-transform: translateY(-2%);
      transform: translateY(-2%);
      -moz-box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);
    }

    .table .heading {
      background: #f0f4f2;
      width: 100%;
      padding: 20px;
      text-align: left;
      font-size: 15pt;
      color: #272625;
      margin-bottom: 40px;
      text-transform: capitalize;
    }

    .table .block {
      display: block;
      width: 78%;
      margin: 40px 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    }

    .table .block .price {
      float: right;
      position: relative;
      right: 30px;
      color: red;
    }

    .table .block .price sub {
      position: absolute;
      right: -30px;
      top: 5px;
      font-weight: lighter;
      font-size: 9pt;
    }

    .table .block .options {
      display: block;
      list-style: none;
      margin: 10px auto;
    }

    .table .block .options li {
      font-size: 13px;
      color: #676462;
      text-transform: capitalize;
    }
    .table .block .options li p{
      padding-left: 5px;
      padding-top: 5px;
      text-align: left;
      color: #272625;
      font-weight: 600;
      font-size: 11px;
      text-transform: capitalize;
    }

    p {
      text-align: left;
      color: #272625;
      font-weight: 600;
      font-size: 15px;
      text-transform: capitalize;
    }
  </style>
</body>

</html>